.h1-tag {
  text-align: center;
  color: white;
  background-color: darkblue;
  margin-top: 1em;
  border: 50px solid darkblue;
  padding-top: 5;
}

.h3-tag {
  width: 30%;
  position: relative;
  left: 27%;

}

.blue-line {
  width: 50%;
  left: 9%;
  position: relative;
  background-color: lightblue;
  height: 1em;
}

.d-flex {
  width: 50%; 
  position: relative;
  left: 10%;
}

.d-flexx {
  margin: -1em;
  width: 20%;
  position: relative;
  left: 75%;
}
.another{
  
}

.box {
  height: 250px;
  width: 300px;
  position: absolute;
  left: 1150px;
  top: 25%;
  background-image: url(https://thiscatdoesnotexist.com);
  background-size: cover;
  background-position: center;
}

.another {
  text-align: right;
  width: 85%;
  right: 150%;
}

.footer {
  background-color: darkblue;
  height: 10em;
transform: translateY(47px);
}